@font-face {
  font-family: "Almondita";
  src: url("/fonts/Almondita.ttf");
}

html {
  scroll-behavior: smooth;
  font-style: 'Open Sans';
}

nav {
  height: 70px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#cover {
  min-height: 100%;
  height: 100%;
  background: url(img/cover.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#main {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  background-color: rgba(127,71,38,.7);
  border-radius: 0%;
}

.navbar li a {
  color: #fff;
  font-size: 18px;
}

.navbar li a:hover, .navbar li a:focus {
  color: #fff;
  text-decoration: underline;
  background-color: rgba(127,71,38,.7);
}

.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  background-color: transparent;
  font-family: 'Almondita';
  font-size: 4.5em;
  color: #fff;
}

.navbar-brand-centered a {
  color: #fff;
}

.navbar>.container .navbar-brand-centered, 
.navbar>.container-fluid .navbar-brand-centered {
  margin-left: -80px;
}

div#discover-section p {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

button.btn.btn-theme, button.btn a{
  background-color: #fff;
  color: #333;
  font-size: 1em;
  padding-left: 32px;
  padding-right: 32px;
}

button.btn.btn-theme:hover{
  background-color: rgba(127,71,38,.7);
}

.section {
  margin-top: 50px;
  text-align: center;
}

.section .lead {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
}

#products img {
  height: 400px;
}

#products .thumbnail {
  border-style: none;
}

#about {
  margin-top: 100px;
}

#about #history img {
  height: 550px;
}

#about #certification img {
  height: 500px;
}

#about #history {
  text-indent: 35px;
}

#faq img {
  width: 400px;
}